.about {
  background: $text-color-white;
}
.about > .conteiner {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}
.about-list {
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}
.about-list .list {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}
.about-icons {
  background-color: $secondary-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

.about-properties {
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @include fonts-text($text-color-black);
}
.properties {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color-grey;
}
