// footer-all

.footer-page {
  background: $background-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}
// .footer-page
.underground {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
  }
}
//adresa
.footer-address {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 70px;
  }
}
.address-list .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list .map {
  color: #ffffff;
}

// socseti
.join {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.social-list {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.invitation {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  @include fonts-text($text-color-white);
}
.social-link-footer {
  @include social-icons($text-color-white);
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    transition: $timing-function;
    background: $text-color-accent;
  }
}
.social-icons {
  fill: currentColor;
}
// Forma
.footer-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    text-align: start;
  }
}
.footer-box-send {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.btn-send {
  margin-left: auto;
  margin-right: auto;
  @extend %buttons;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.btn-send:hover {
  @extend %buttons-hover-focus;
}
.send-icon {
  fill: $text-color-white;
  margin-left: 10px;
}
.footer-box-send input {
  padding: 14px 16px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: $background-footer;
}
