.header-page {
  background: $text-color-white;
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    position: relative;
  }
}
.main-nav {
  display: flex;
  min-height: 60px;
  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu-btn {
  border: none;
  display: inline-flex;
  background: transparent;
  color: $text-color-black;
  &:hover,
  &:focus {
    color: $text-color-accent;
    transition: $timing-function;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.btn-close-menu {
  display: none;
}
.menu-btn.is-open .btn-close-menu {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
.nav-menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    &.is-open {
      display: block;
      text-align: center;
      padding: 60px 15px;
      background-color: $text-color-white;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 88px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.nav-list {
  @media screen and (max-width: 767px) {
    display: block;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: $text-color-accent;
  transition: $timing-function;
}
.nav-list .item {
  position: relative;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav-list .item,
.nav-list .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: $text-color-black;

  @media screen and (min-width: 768px) {
    @include fonts-header($text-color-black);
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.nav-list .current {
  color: $text-color-accent;
  @media screen and (max-width: 767px) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 4px;
      background: #2196f3;
      border-radius: 2px;
    }
  }
  @media screen and (min-width: 768px) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #2196f3;
      border-radius: 2px;
    }
  }
}

/* adresnaya */
.address-header {
  @media screen and (max-width: 767px) {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
  }
}
.address-list-up {
  display: block;
  &.address-list-up .item:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    &.address-list-up .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
    &.address-list-up .item:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
}
.address-list-up .link {
  // display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1.16;
  color: $text-color-grey;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: $text-color-accent;
    transition: $timing-function;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    @include fonts-header($text-color-grey);
  }
}
.svg-mail,
.svg-phone {
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
  padding: 0;
  border: none;
  fill: currentColor;
  margin-right: 8px;
}
