%padding-conteiner {
  padding-bottom: 94px;
  padding-top: 94px;
}
%buttons {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: $text-color-white;
  background-color: $text-color-accent;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

%buttons-hover-focus {
  transition: $timing-function;
  background-color: #188ce8;
  border: none;
  cursor: pointer;
}

%team-fonts {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
