$text-color-white: #ffffff;
$text-color-black: #212121;
$text-color-grey: #757575;
$text-color-accent: #2196f3;
$background-central-body: #e5e5e5;
$background-footer: #2f303a;
$icon-color: #afb1b8;
$secondary-bg-color: #f5f4fa;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
